<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Challenge 5_Cindy</title>
    <link rel="stylesheet" href="/style/index.css" type ="text/css">
</head>
<body>
    <nav>
        <div class="logo-header">
            <li class="logo"><a href="#">LOGO</a></li>
        </div>
        <div class="navigation">
            <ul class="main-menu">
                <li><a href="#">HOME</a></li>
                <li><a href="#">WORK</a></li>
                <li><a href="#">ABOUT ME</a></li>
            </ul>
            <ul class="account-menu">
                <% if(username){ %>
                    <li><a href="#"><%=username %></a></li>
                <% }else { %>
                    <li><a href="#">SIGN UP</a></li>
                    <li><a href="/login">LOGIN</a></li>
                <% } %>
            </ul>
        </div>
    </nav>
    <div class="section-1">
        <div class="section-1-text"> 
            <div class="section-1-text-1">PLAY TRADITIONAL GAME</div>
            <div class="section-1-text-2">Experience New Traditional Game Play</div>
        </div>
        <div class="button">
            <div class="button-text"><a href="/game" class="play-now">PLAY NOW</a></div>
        </div>
        <div class="story">
            <div class="story-text">THE STORY</div>
            <div class="arrow"></div>
        </div>
    </div>
    <div class="section-2">
        <div class="section-2-text">
            <div class="section-2-text-1">What's so special?</div> 
            <div class="section-2-text-2">THE GAMES</div>       
        </div>
    <div class="carousel">
        <div class="image-gunting">
            <img class="arrow-icon" src="./style/assets/Arrow-left.svg" alt="arrow-left">
            <img class="gunting" src="./style/assets/rockpaperstrategy-1600.jpg" alt="gunting">
            <img class="arrow-icon" src="./style/assets/Arrow-right.svg" alt="arrow-right">
        </div>
        <div class="bullets"></div>
        </div>  
    </div>
    <div class="section-3">
        <div class="section-3-text">
            <div class="section-3-text-1">What's so special?</div>
            <div class="section-3-text-2">FEATURES</div>
            <div class="features"></div>
                <div class="features-1">
                    <h3>TRADITIONAL GAMES</h3>
                    <p>if you miss your childhood, </p>
                    <p>we provide many traditional games here.</p>
                </div>
                <div class="features-2">
                    <h3>GAME SUIT</h3>
                </div>
                <div class="features-3">
                    <h3>TBD</h3>
                </div>
        </div>
    </div>
    <div class="section-4">
        <div class="layer">
            <div class="section-4-text">
                <div class="section-4-text-1">Can My Computer Run The Game?</div>
                <div class="section-4-text-2">SYSTEM REQUIREMENTS</div>
            <div class="processor">
                <div class="processor-1">
                    <h3>OS:</h3>
                    <p>Windows 7 64-bit only</p>
                    <p>(No OSX support at this time)</p>
                </div>
                <div class="processor-2">
                    <h3>PROCESSOR:</h3>
                    <p>Intel Core 2 Duo @2.4 GHZ or</p>
                    <p>AMD Athlon X2 @2.8 GHZ</p>
                </div>
                <div class="processor-3">
                    <h3>MEMORY:</h3>
                    <p>4 GB RAM</p>
                </div>
                <div class="processor-4">
                    <h3>STORAGE:</h3>
                    <p>4 GB available space</p>
                </div>
                <div class="processor-5">
                    <h3>GRAPHICS:</h3>
                    <p>NVIDIA GeForce GTX 660 2GB or AMD Radeon HD 7850 2GB
                    DirectX11 (Shader Model 5)</p>
                </div>
            </div>
            </div>
        </div>
    </div>
    <div class="section-5">
        <div class="section-5-text">
            <div class="section-5-text-1">TOP SCORE</div>
            <div class="section-5-text-2">
                <p>This top score from various games </p>
                <p>provided on this platform.</p>
            </div>
            <div class="button">
                <div class="button-text">SEE MORE</div>
            </div>
        </div>
        <div class="twitter">
            <div class="twitter-1">
                <div class="profile">
                    <div class="profile-pic"></div>
                        <img class="avatar" src="./style/assets/pic_1171831236_1.png" alt="avatar">
                    <div class="username">
                        <h3>Evan Lahti</h3>
                        <p>PC Gamer</p>
                    </div>
                    <div class="social">
                        <img class="twitter-icon" src="./style/assets/twitter.svg" alt="twitter-icon">
                    </div>
                 </div>
                <div class="comment">
                    <p class="twit">
                    "One of my gaming highlights of the year."
                    </p>
                </div>
                <div class="date">
                    <p class="twit-date">June 18,2021</p>
                </div>
            </div>
            <div class="twitter-2">
                <div class="profile">
                    <div class="profile-pic"></div>
                        <img class="avatar" src="./style/assets/pic_1171831236_1.png" alt="avatar">
                    <div class="username">
                        <h3>Jada Griffin</h3>
                        <p>Nerdreactor</p>
                    </div>
                    <div class="social">
                        <img class="twitter-icon" src="./style/assets/twitter.svg" alt="twitter-icon">
                    </div>
                 </div>
                <div class="comment">
                    <p class="twit">
                    "The next big thing in the world of streaming and survival games."
                    </p>
                </div>
                <div class="date">
                    <p class="twit-date">June 10,2021</p>
                </div>
            </div>
            <div class="twitter-1">
                <div class="profile">
                    <div class="profile-pic"></div>
                        <img class="avatar" src="./style/assets/pic_1171831236_1.png" alt="avatar">
                    <div class="username">
                        <h3>Aaron Williams</h3>
                        <p>Uproxx</p>
                    </div>
                    <div class="social">
                        <img class="twitter-icon" src="./style/assets/twitter.svg" alt="twitter-icon">
                    </div>
                 </div>
                <div class="comment">
                    <p class="twit">
                    "Snoop Dogg Playing The Wildly Entertaining 'SOS' is Ridiculous."
                    </p>
                </div>
                <div class="date">
                    <p class="twit-date">December 24,2018</p>
                </div>
            </div>
        </div>    
    </div>
    <div class="section-6">
    </div>
    <footer>
        <div class="footer-nav">
            <div class="footer-menu">
                <ul class="footer-menu-1">
                    <li><a href="#">HOME</a></li>
                    <li><a href="#">WORK</a></li>
                    <li><a href="#">ABOUT ME</a></li>
                    <li><a href="#">ABOUT ME</a></li>
                    <li><a href="#">ABOUT ME</a></li>
                </ul>
                <div class="footer-social">
                    <div class="facebook-icon-1">
                        <img src="./style/assets/facebook.svg" alt="facebook">
                    </div>
                    <div class="twitter-icon-1">
                        <img src="./style/assets/twitter.svg" alt="twitter-icon-1">
                    </div>
                    <div class="twitch-icon-1">
                        <img src="./style/assets/twitch.svg" alt="twicth">
                    </div>
            </div>
            <hr>
            <div class="footer-menu-2">
                <div class="copyright">
                    <p class="copyright-text">@2018 Your Games,Inc. All Right Reserved</p>
                </div>
                <div class="policy-button">
                    <p class="policy-1">PRIVACY POLICY I</p>
                    <p class="policy-1">TERM OF SERVICES I</p>
                    <p class="policy-1">CODE OF CONDUCT</p>
                </div>
            </div>
            </div>
        </div>
    </footer>
</body>
</html>